.Rproj.user
.Rhistory
.RData
.Ruserdata
.secrets
/rsconnect
/temp_files
WP3-H2_Job_advertisements - Main.csv
all_linkedIN.csv
ams.csv
Lokalt
companies_for_AI_cathegorisation.csv
dk_h2.csv
dk_h2.rds
finn_no_h2.csv
dk_short.rds
testing-AIAPI.ipynb
dk_AI-cleaner.ipynb
